/*
  영어 완성
*/

.eng-bg {
  background-color: #8b79d8 !important;
}

.eng-label-bg {
  background-color: #6f61ad !important;
}

.wrap_home_eng {
  position: relative;

  .edu-list {
    float: left;
    padding: 36px 0 0 45px;
    width: calc(100% - 332px);
    height: 550px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .scroll {
      width: 1100px;
    }

    ul {
      li {
        width: 158px;
        height: auto;
        float: left;
        border: 2.5px solid #c6c6c6;
        border-radius: 25px;
        overflow: hidden;
        margin-right: 22px;
        margin-bottom: 20px;

        a {
          display: block;

          .img {
            display: block;
            width: 100%;
            height: 147px;
            max-height: 147px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .area-text {
            height: 84px;
            background-color: #ffffff;
            padding-top: 6px;

            .tit {
              display: block;
              font-family: var(--bmjua);
              font-size: 25px;
              text-align: center;
              line-height: 27px;
              margin-bottom: 5px;
            }

            .desc {
              display: block;
              font-size: 15px;
              font-weight: bold;
              color: #535353;
              line-height: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .aside {
    position: absolute;
    right: 0;
    top: -8px;
    width: 334px;
    height: 594px;
    background: #ffffff;
    border-radius: 25px 0 0 25px;
    padding: 0 33px 22px 24px;

    ul {
      li {
        position: relative;
        padding-top: 22px;

        p {
          margin-bottom: 8px;

          .tit {
            font-family: var(--bmjua);
            font-size: 20px;
            color: #8b79d8;
            line-height: 22px;
            margin-right: 10px;
          }

          .desc {
            font-family: var(--bmjua);
            font-size: 20px;
            color: #3e3e3e;
            line-height: 22px;
          }
        }

        .img {
          display: block;
          width: 100%;
          height: 208px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .date {
          display: block;
          position: absolute;
          bottom: -23px;
          right: 0;
          font-size: 13px;
          color: #626262;
        }

        &:first-child {
          border-bottom: 1px solid #dfdfdf;
          padding-bottom: 36px;
        }
      }
    }
  }
}

/* S 영어완성 - 알파벳 */
.wrap_english {
  position: relative;
  display: block;
  width: 1280px;
  height: 752px;
  background-image: url("../img/element/english/common/bg_eng.png");
  background-repeat: no-repeat;
  background-size: cover;

  .area_top {
    & > .title {
      position: absolute;
      top: 17px;
      left: 32px;
      width: 149px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .closeBtn {
      position: absolute;
      display: block;
      top: 19px;
      right: 19px;
      width: 30px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .tab_top {
    padding: 69px 41px 0;
    ul {
      li {
        float: left;
        width: 129px;
        height: 55px;
        a {
          display: block;
          line-height: 55px;
          text-align: center;
          font-size: 20px;
          color: #292929;
          font-weight: 900;
          white-space: nowrap;
          text-shadow: -.5px 1px 0 rgba(255, 255, 255, 0.44);
          letter-spacing: -1px;
        }

        &.active {
          background-image: url("../img/element/english/common/top_tab_f.png");
          width: 129px;
          height: 55px;
          background-size: contain;
          a {
            color: #ffffff;
            text-shadow: 1.5px 1px 2px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .tab_content {
    padding: 0 10px;
    .area-title {
      width: 1261px;
      height: 61px;
      background-image: url("../img/element/english/common/bg_top.png");
      background-repeat: no-repeat;
      background-size: cover;
      .tit {
        font-family: var(--daum);
        font-size: 26px;
        line-height: 61px;
        color: #4f00b0;
        padding-left: 39px;
        letter-spacing: -1px;
        .total {
          font-family: var(--nanumgothic);
          font-weight: 900;
          color: #000000;
          font-size: 24px;
          margin-left: 5px;
        }
      }
    }

    .list-class {
      padding: 0 7px;
      li {
        position: relative;
        width: 100%;
        height: 70px;

        .info {
          display: inline-block;
          float: left;
          height: 70px;

          .class {
            float: left;
            display: inline-block;
            width: 100px;
            font-weight: 900;
            font-size: 26px;
            line-height: 70px;
            text-align: center;
          }
          .tit {
            display: inline-block;
            width: 570px;
            font-weight: 900;
            font-size: 24px;
            line-height: 70px;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: .6px;
          }
        }
        .cTime {
          float: left;
          display: inline-block;
          width: 100px;
          text-align: center;
          line-height: 70px;
          font-weight: bold;
          font-size: 17px;
          color: #6b6b6b;
          i {
            margin-right: 5px;
          }
        }
        .area-btn {
          position: absolute;
          top: 18px;
          right: 20px;
          .btn-view {
            display: inline-block;
            width: 147.5px;
            height: 35.5px;
            background-image: url("../img/element/english/common/btn_view.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
          .btn-box {
            display: inline-block;
            width: 143.5px;
            height: 35.5px;
            background-image: url("../img/element/english/common/btn_box.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(2n) {
          background-color: #f1f9f8;
        }
      }
    }

    .area-pagination {
      width: 1248px;
      height: 52px;
      background-color: #ebebeb;
      margin: 0 auto;
      border-radius: 0 0 18px 18px;
      .pagination {
        justify-content: center;
        padding-top: 11px;
        .page-item {
          .page-link {
            min-width: 27px;
            height: 27px;
            line-height: 27px;
            font-size: 19px;
            font-weight: 900;
            border: 0;
            background-color: transparent;
            color: #4e4e4e;
            padding: 0;
          }
          &.active {
            .page-link {
              border-radius: 50%;
              color: #ffffff;
              background-color: #346af3;
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}
/* E 영어완성 - 알파벳 */

/* S 영어완성 - 파닉스 */
.wrap_english {
  .tab_content {
    &.phonics {
      .side_menu {
        float: left;
        width: 186px;
        height: 603px;
        padding-left: 6px;
        ul {
          width: 100%;
          height: 100%;
          background-color: #fbc441;
          border-radius: 0 0 0 15px;
          li {
            width: 100%;
            height: 83px;
            border-bottom: 1px solid #f1a831;
            border-top: 1px solid #fdd477;
            a {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: 23px;
              font-weight: 900;
              color: #4d0000;
              align-items: center;
              justify-content: center;
              span {
                display: block;
                font-size: 22px;
                font-weight: bold;
                padding-top: 3px;
              }
            }
            &.active {
              background-color: #8529cd;
              a {
                color: #ffffff;
                font-size: 25px;
                span {
                  font-size: 22px;
                }
              }
            }
            &:first-child {
              height: 55px;
              border-top: 0;
            }
          }
        }
      }
      .menu-content {
        float: left;
        overflow: hidden;
        width: 1068px;
        height: 603px;
        border-radius: 0 0 20px 0;
        .ph-intro {
          position: relative;
          width: 1074px;
          height: 625px;
          background-image: url("../img/element/english/phonics/info.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: -22px -19px;
          .wrap-btn {
            position: absolute;
            right: 48px;
            top: 27px;
            .btn-reading {
              display: block;
              width: 265.5px;
              height: 53px;
              background-image: url("../img/element/english/phonics/btn_reading.png");
              background-repeat: no-repeat;
              background-size: cover;
              margin-bottom: 6px;
            }
            .btn-word {
              display: block;
              width: 265.5px;
              height: 53px;
              background-image: url("../img/element/english/phonics/btn_word.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
}
.phonics_table {
  position: relative;
  width: 1280px;
  height: 752px;
  background: url("../img/element/english/phonics/phonics_table.png") no-repeat center;
  background-size: cover;

  .area_text {
    padding: 22px 75px 0 334px;
    p {
      position: relative;
      font-family: "Noto Sans CJK KR Medium";
      font-weight: 500;
      font-size: 22px;
      color: #1f1f1f;
      line-height: 23px;
      margin-bottom: 12px;
      letter-spacing: -.7px;
      padding-left: 33px;

      i {
        position: absolute;
        left: 0;
        top: 4px;
      }
      span {
        display: block;
        font-family: "Noto Sans CJK KR Medium";
        font-weight: 500;
        font-size: 18px;
        color: #7d7d7d;
        margin-top: 2px;
      }
    }
  }
  .btn-close {
    position: absolute;
    display: block;
    top: 12px;
    right: 9px;
    width: 45px;
    height: 45px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* E 영어완성 - 파닉스 */

/* 아이콘 */
.wrap_english {
  i.i-tv {
    display: inline-block;
    background: url("../img/element/english/common/i_tv.png") no-repeat center;
    width: 16.5px;
    height: 17.5px;
    background-size: contain;
    vertical-align: middle;
  }
  i.i-arrow-left {
    display: inline-block;
    background: url("../img/element/english/common/arrow_left.png") no-repeat center;
    width: 12px;
    height: 16.5px;
    background-size: contain;
    vertical-align: middle;
  }
  i.i-arrow-right {
    display: inline-block;
    background: url("../img/element/english/common/arrow_right.png") no-repeat center;
    width: 12px;
    height: 16.5px;
    background-size: contain;
    vertical-align: middle;
  }
}
.phonics_table {
  i.i-check {
    display: inline-block;
    background: url("../img/element/english/phonics/i_check.png") no-repeat center;
    width: 21.5px;
    height: 15px;
    background-size: contain;
    vertical-align: middle;
  }
}
