@charset "utf-8";

@font-face {
	font-family: 'BMJUA';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/BMJUA_otf.otf);
}

:root {
	--koreanColor: #f6c43d; --koreanLabelColor: #ffe154; --koreanTextColor: #bc6601;
	--mathColor: #ff8786; --mathLabelColor: #fec4c4; --mathTextColor: #d75735;
	--societyColor: #9bdd55; --societyLabelColor: #b8ea82; --societyTextColor: #43780a;
	--scienceColor: #48bee2; --scienceLabelColor: #77d3ef; --scienceTextColor: #046887;
	--englishColor: #8d9ae8; --englishLabelColor: #a5b6ff; --englishTextColor: #2c3fae;
	--totalColor: #ef99dd; --totalLabelColor: #febdf0; --totalTextColor: #ab2890;
	--specialColor: #f3975a;
} 


.nanumsquare {
	font-family: 'NanumSquare', sans-serif !important;
}

html { min-height: 100%; }
body { background-color: white; font-family: NanumSquare; height: 100%; background-image: linear-gradient(to right, #f8f2e7, #f8f2e7 1190px, #3ac8f5 1190px); }

ul { list-style-type: none; margin:0; padding: 0; }
figure, label { margin: 0; }
a { font-size: inherit; color: inherit; }

.wrap { width: 1280px; display: flex;  padding: 20px 25px 25px 35px; }

.flex { display: flex; }
.block { display: block !important; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.flex1 { flex: 1; }
.grow { flex-grow: 1; }
.shrink { flex-shrink: 1; }
.flexAuto { flex-basis: auto; }

.bull { display: inline-block; width: 5px; height: 5px; background-color: #949494; border-radius: 50%; margin: 0 5px; vertical-align: middle;  }
.iceCream { width: 15px; height: 25px; background: url("../img/common/icon_icecream.png") no-repeat center; background-size: cover; }
span.iceCream { display: inline-block; vertical-align: middle; margin-right: 4px; }

.margin-top-0 { margin-top: 0; }

.nowrap { white-space: nowrap; }

.white { color: white; }

main { flex-basis: 935px; flex-grow: 1; }
.main { display: flex; }
.box { padding: 15px 14px; box-shadow: 3px 3px 8px rgba(0, 0, 0, .15); height: 487px; margin-left:20px;  border-width: 2px; border-style: solid; border-radius: 20px; position: relative; }
.box:first-child { margin-left: 0; }
.box.blueBox { border-color: #42c0da; background-color: #63d5ed; }
.box.yellowBox { border-color: #e3a556; background-color: #f6b35d; }

#todayStudy .box.blueBox { flex: 0 0 auto; width: 490px; }
#todayStudy .box.yellowBox { flex: 0 0 auto; width: 425px; }

.element { justify-content: space-between; display: flex; align-items: center; position: relative; padding: 8px 10px 8px 17px; border-radius: 15px; border: 2px solid white; box-shadow: 2px 2px 5px rgba(0, 0, 0, .3); background-color: white; }
.element > label:first-child { margin-right: 10px; font-family: BMJUA; width: 90px; text-align: center; margin-bottom: 0; font-weight: normal; } 
.element > label.blue { background-color: #1f70a4; } 
.element.navyLabel { padding-left: 0; justify-content: flex-start; background-image: linear-gradient(to right, #1f70a4 85px, white 85px); font-size: 17.5px; font-weight: bold; }
.element.darkOrangeLabel { padding-left: 0; justify-content: flex-start; background-image: linear-gradient(to right, #ce6143 85px, white 85px); font-size: 17.5px; font-weight: bold; }

.element.subject { height: 115px; }

.element.wLabel > ul:first-child { font-family: BMJUA; font-size: 20px; height: 110px; position: absolute; top: 0; left: 0; display: flex; align-items: center; flex-direction: column; justify-content: center; width: 90px; }
.element.wLabel { padding-left: 100px; }

.element.example { overflow: hidden; }
.element.example img { width: 100%; height: 100%; overflow: hidden; object-fit: contain; object-position: center; }

.subjectIcon { width: 50px; height: 50px; background-size: 60px 60px; background-position: center; background-repeat: no-repeat;}
.subjectIcon.korean { background-image: url("../img/common/subjectIcon_korean.png"); }
.subjectIcon.math { background-image: url("../img/common/subjectIcon_math.png"); }
.subjectIcon.english { background-image: url("../img/common/subjectIcon_english.png"); }
.subjectIcon.science { background-image: url("../img/common/subjectIcon_science.png"); }
.subjectIcon.society { background-image: url("../img/common/subjectIcon_society.png"); }
.subjectIcon.total { background-image: url("../img/common/subjectIcon_total.png"); }

.koreanLabel .subjectIcon { background-image: url("../img/common/subjectIcon_korean.png"); }
.mathLabel .subjectIcon { background-image: url("../img/common/subjectIcon_math.png"); }
.englishLabel .subjectIcon { background-image: url("../img/common/subjectIcon_english.png"); }
.scienceLabel .subjectIcon { background-image: url("../img/common/subjectIcon_science.png"); }
.societyLabel .subjectIcon { background-image: url("../img/common/subjectIcon_society.png"); }
.totalLabel .subjectIcon { background-image: url("../img/common/subjectIcon_total.png"); }

.element.koreanLabel { background-image: linear-gradient(to right, var(--koreanColor) 85px, white 85px); }
.element.mathLabel { background-image: linear-gradient(to right, var(--mathColor) 85px, white 85px); }
.element.societyLabel { background-image: linear-gradient(to right, var(--societyColor) 85px, white 85px); }
.element.scienceLabel { background-image: linear-gradient(to right, var(--scienceColor) 85px, white 85px); }
.element.englishLabel { background-image: linear-gradient(to right, var(--englishColor) 85px, white 85px); }
.element.totalLabel { background-image: linear-gradient(to right, var(--totalColor) 85px, white 85px); }

.column .element + .element { margin-top: 7px; }
.row .element + .element { margin: 0 0 0 5px; }
.box.column > * { margin: 7px 0 0; }
.box.column > .margin-top-0 { margin-top: 0; }
.box.withTitle { margin-top: 18px; padding-top: 26px; }
.box.noItem { padding-top: 320px; font-family: BMJUA; font-size: 45px; text-align: center; background-image: url("../img/common/smileBook.png"); background-repeat: no-repeat; background-position: center; background-size: 107px 81px; color: rgba(53, 129, 145, 0.75); }
.boxTitle { display: flex; justify-content: flex-end; align-items: center; }
.box .boxTitle.inside { top: 23px; left: 47px; }
.box .boxTitle.inline { position: relative; top: auto; left: auto; }
.boxTitle span { position: absolute; right: -32.5px; flex: 0 0 auto; width: 27px; height: 27px; border-radius: 50%; background-color: #000000; color: white; font-family: BMJUA; letter-spacing: -0.8px; font-size: 18px; display: inline-block; display: flex; align-items: center; justify-content: center; }
.boxTitle.inside span { right: -36px; width: 32px; height: 32px; font-size: 20.2px; letter-spacing: 1.01px;}
.boxTitle.todaySchoolStudy { background: url("../img/boxTitles/boxTitle_todaySchoolStudy.png") no-repeat; width: 160.5px; height: 34.5px; background-size: 160.5px 34.5px; }
.boxTitle.todayStudy { background: url("../img/boxTitles/boxTitle_todayStudy.png") no-repeat; width: 150.5px; height: 45px; background-size: 150.5px 45px; }
.boxTitle.todaySpecial { background: url("../img/boxTitles/boxTitle_todaySpecialStudy.png") no-repeat; width: 162.5px; height: 35px; background-size: 162.5px 35px; }
.boxTitle.myClassroom { background: url("../img/boxTitles/boxTitle_myClassroom.png") no-repeat; width: 183px; height: 50px; background-size: 183px 50px; }
.box .boxTitle { position: absolute; top: -20px; left: 15px; margin: 0; }
.wrongCount { color: #00aae0; border-bottom: 2px solid #1ea4d9; vertical-align: middle; margin: 0 3px; }
.memoIcon { display: inline-block; width: 11.5px; height: 15px; background: url("../img/common/icon_memo.png") no-repeat; background-size: 11.5px 15px; }
.teacherUnderline { font-size: 15px; font-weight: bold; border-bottom: 1px solid #b2b2b2 ; }
.memoIcon + .teacherUnderline { margin-left: 8px; }
.typeLabel { border-radius: 20px; padding: 5px 14px; font-size: 13px; font-weight: bold; }

.koreanLabel .typeLabel { background-color: var(--koreanLabelColor); color: var(--koreanTextColor); }
.mathLabel .typeLabel { background-color: var(--mathLabelColor); color: var(--mathTextColor); }
.societyLabel .typeLabel { background-color: var(--societyLabelColor); color: var(--societyTextColor); }
.scienceLabel .typeLabel { background-color: var(--scienceLabelColor); color: var(--scienceTextColor); }
.englishLabel .typeLabel { background-color: var(--englishLabelColor); color: var(--englishTextColor); }
.totalLabel .typeLabel { background-color: var(--totalLabelColor); color: var(--totalTextColor); }

.element > ul:nth-child(2) .typeLabel { margin-right: 10px; }
.element > ul:nth-child(2) { flex: 1; margin-right: 10px; align-self: flex-start; }
.element > ul:nth-child(2) li:nth-child(1) { font-size: 14px; font-weight: bold; }
.element > ul:nth-child(2) li:nth-child(2) { max-height: 55px; overflow: hidden; margin-top: 11px; font-size: 23px; font-weight: bold; letter-spacing: -1.2px; }

.kidIcon { width: 68px; height: 68px; position: relative; }
.kidIcon.badge { padding: 0; }
.kidIcon.badge:after { font-weight: 800; letter-spacing: -1.2px; display: flex; font-size: 15px; justify-content: center; align-items: center; content: ""; position: absolute; width: 34px; height: 34px; top: -7px; right: -7px; border: 3px solid white; background-color: white; border-radius: 50%; }
.kidIcon.badge.complete:after { content: "완료"; border-color: gray;  }
.kidIcon > div { width: 100%; height: 100%; border-radius: 50%; background-color: gray;  background-position: center; background-repeat: no-repeat; }

.koreanLabel .kidIcon > div, .kidIcon.kid01 > div { background-image: url("../img/kidIcons/kidIcon01.png"); background-size: 78.5px 50px; }
.mathLabel .kidIcon > div, .kidIcon.kid02 > div { background-image: url("../img/kidIcons/kidIcon02.png"); background-size: 51px 44.5px;}
.societyLabel .kidIcon > div, .kidIcon.kid03 > div { background-image: url("../img/kidIcons/kidIcon03.png"); background-size: 79px 71.5px; background-position: center -12px; }
.scienceLabel .kidIcon > div, .kidIcon.kid04 > div { background-image: url("../img/kidIcons/kidIcon04.png"); background-size: 66px 64.5px; background-position: center -5px; }
// .englishLabel .kidIcon > div, .kidIcon.kid05 > div { background-image: url("../img/kidIcons/kidIcon05.png"); background-size: 50.5px 48.5px;}
.englishLabel .kidIcon > div, .kidIcon.kid05 > div { background-image: url("../img/kidIcons/character02.png"); background-size: 60px 97px; background-position: center -5px; }
.totalLabel .kidIcon > div, .kidIcon.kid06 > div { background-image: url("../img/kidIcons/character01.png"); background-size: 52.5px 83.5px; background-position: center 1px; }

.koreanLabel .kidIcon > div { background-color: var(--koreanColor); }
.mathLabel .kidIcon > div { background-color: var(--mathColor); }
.societyLabel .kidIcon > div { background-color: var(--societyColor); }
.scienceLabel .kidIcon > div { background-color: var(--scienceColor); }
.englishLabel .kidIcon > div { background-color: var(--englishColor); }
.totalLabel .kidIcon > div { background-color: var(--totalColor); }

.koreanLabel .kidIcon.badge:after { border-color: var(--koreanColor);  }
.mathLabel .kidIcon.badge:after { border-color: var(--mathColor);  }
.societyLabel .kidIcon.badge:after { border-color: var(--societyColor);  }
.scienceLabel .kidIcon.badge:after { border-color: var(--scienceColor);  }
.englishLabel .kidIcon.badge:after { border-color: var(--englishColor);  }
.totalLabel .kidIcon.badge:after { border-color: var(--totalColor);  }

.element .kidIcon { flex-shrink: 0; flex-basis: auto; }

.newBadge:after { border-radius: 50%; content: ""; display: flex; align-items: center; justify-content: center; background: url("../img/common/icon_New.png") no-repeat center #fe393b; width: 30px; height: 30px; background-size: 11px 13px;  }
.element.newBadge:after { position: absolute; top: -15px; right: -15px; }

nav.dateNav { padding: 7px 28px 7px 35px; font-weight: 700; width: 640px; font-size: 20px; display: flex; align-items: stretch; margin: 5px 0 12px 160px; border: 2px solid #39b9d4; border-radius: 25px; background-color: white; height: 50px; justify-content: space-between;}
nav.dateNav a { flex-grow: 0; flex-shrink: 0; flex-basis: auto; height: 30px; display: flex; align-items: center; justify-content: center; }
nav.dateNav a.on { width: auto; padding: 0 20px; flex-basis: auto; background-color: #00b3d8; border-radius: 20px; color: white; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15); }
nav.dateNav a span { margin-left: 10px; font-size: 17px; vertical-align: middle; }
nav.dateNav a.calendar { flex-basis: auto; flex-grow: 0; width: 36px; height: 32px; background: url("../img/common/navCalendar.png") no-repeat center; background-size: 36px 32px; }
nav.dateNav a.goPrev,
nav.dateNav a.goNext { background-size: contain; width: 18px; height: 30px; background-repeat: no-repeat; background-position: center; flex-grow: 0; flex-basis: auto; }
nav.dateNav a.goPrev { background-image: url("../img/common/nav_leftArrow.png"); }
nav.dateNav a.goNext { background-image: url("../img/common/nav_rightArrow.png"); }

aside { width: 265px; margin-left: 20px; }
aside section { padding: 16px 9px; position: relative; margin-top: 9px; background-color: white; border: 2px solid #d7d7d7; border-radius: 23px; box-shadow: 3px 3px 8px rgba(0, 0, 0, .15); }
aside section:first-child { margin-top: 0; }
aside section.profileSection { padding-top: 20px; margin-top: 24px; }

aside section:first-child .personalInfoList { margin-left: 107px; }
.personalInfoList {  }
.personalInfoList > li:first-child { font-size: 20px; font-weight: 700; letter-spacing: -1.2px; }
.personalInfoList > li:nth-child(2) { margin-top: 12px; font-size: 15px; font-weight: 800; letter-spacing: -1.2px; }
.personalInfoList > li:nth-child(3) { margin-top: 14px; font-size: 15px; font-weight: 800; }


.profileIcon { position: absolute; top: -25px; left: -24px; width: 130px; height: 130px; border-radius: 50%;  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); background-color: white; }
.profileIcon figure { position: relative; top: 10px; left: 10px; overflow: hidden; width: 110px; height: 110px; border-radius: 50%; background-color: #3ac8f5; }
.profileIcon figure img { width: 100%; height: 100%; object-fit: cover; object-position: center; }
.profileIcon .editGrear { border-radius: 50%; background: url("../img/common/icon_config.png") center; background-size: 43.5px 44px; position: absolute; bottom: -10px; right: 10px; width: 45px; height: 45px; }

.scrollBox { overflow-y: auto; overflow-x: hidden; }

/* mCustomScrollBar */
.mCSB_scrollTools .mCSB_draggerContainer { width: 10px; left: auto; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 10px; background-color: rgba(0, 0, 0, 0.5) }
.mCSB_scrollTools .mCSB_draggerRail { width: 10px; }
.mCSB_container .element { margin-right: 5px; }
.mCSB_container .element:last-child { margin-bottom: 8px; }
.mCSB_inside > .mCSB_container { margin-right: 15px; }

.horizonScrollBox { border: 0; padding: 13px 31px; flex-shrink: 0; }
.horizonScrollBox .arrow { position: absolute; top: 50%; margin-top: -9px; width: 11px; height: 18px; background-repeat: no-repeat; background-position: center; background-size: 11px 18px; }
.horizonScrollBox .arrow.left { background-image: url("../img/common/leftArrow.png"); left: 12px; }
.horizonScrollBox .arrow.right { background-image: url("../img/common/rightArrow.png"); right: 12px; }
.horizonScrollBox ul { -ms-overflow-style: none; overflow: -moz-scrollbars-none; width: 330px; overflow-x: auto; overflow-y: hidden; display: inline-flex; }
.horizonScrollBox ul::-webkit-scrollbar { display: none; }
.horizonScrollBox li { /* scroll-snap-stop: always; */ scroll-snap-align: start; flex: 0 0 auto; margin: 0 0 0 22px; }
.horizonScrollBox li,
.studyMenuIcon { background-repeat: no-repeat; width: 95px; height: 95px; border-radius: 20px; border: 2px solid gray; font-size: 18px; text-align: center; padding-top: 65px; font-family: BMJUA; }
.horizonScrollBox li:first-child { margin-left: 0px; }
#todayStudy .main .box:nth-child(2) .horizonScrollBox { width: 395px; }
#todayStudy .element + .scrollBox { margin-top: 8px; }
.studyMenuIcon.homeLearnBookCafe { background-image: url("../img/common/icon_homeLearnBookCafe.png"); background-position: center 7px; background-color: #ec94d4; border-color: #de78c2; background-size: 60px 60px; }
.studyMenuIcon.homeLearnCalc { background-image: url("../img/common/icon_homeLearnCalc.png"); background-position: center 5px; background-color: #8dbef6; border-color: #78b0ee; background-size: 60px 60px; }
.studyMenuIcon.englishLibrary { background-image: url("../img/common/icon_englishLIbrary.png"); background-position: center 5px; background-color: #6bdd7e; border-color: #56ce6a; background-size: 60px 60px; }

.specialStudyList { padding: 5px 15px; display: block; border: 0; }
.specialStudyList > li { justify-content: flex-start; display: flex; align-items: center; overflow: hidden; box-sizing: content-box; padding: 11px 0px; border-bottom: 1px solid #cccccc; position: relative; }
.specialStudyList > li figure { flex: 0 0 auto; margin: 0; overflow: hidden; width: 73px; height: 73px; border-radius: 14px;  }
.specialStudyList > li figure img { width: 100%; height: 100%; object-fit: cover; object-position: center }
.specialStudyList > li ul { margin-left: 8px; }
.specialStudyList > li ul li:first-child { font-size: 17px; color: #ff822e; font-weight: 700; letter-spacing: -0.8px; }
.specialStudyList > li ul li:nth-child(2) { margin-top: 5px; font-weight: 700; font-size: 23px; color: black; letter-spacing: -0.4px; }

.noScrollBar { -ms-overflow-style: none; overflow: -moz-scrollbars-none; }
.noScrollBar::-webkit-scrollbar { display: none; }

.buttonList { font-size: 17px; font-family: BMJUA; letter-spacing: -0.8px; }
.profileSection .buttonList { margin-top: 13px; }
.buttonList > li { display: flex; justify-content: flex-start; align-items: flex-start; padding: 9px 8px 14px; }
.buttonList > li:last-child { padding-bottom: 0px; }
.skyBg { background-color: #deeef8; }
.buttonList > li.skyBg { border-radius: 9px; }
.icon { font-size: 20px; letter-spacing: -0.8px; font-family: BMJUA; position: relative; background-position: center;  width: 60px; height: 60px; background-size: cover; background-repeat: no-repeat; background-position: center; }

.icon.wrongAnswerNote { background-image: url("../img/common/icon_wrongAnswerNote.png"); }
.icon.naigongBox { background-image: url("../img/common/icon_naigongBox.png"); }
.icon.aILifeNote { background-image: url("../img/common/icon_AILifeNote.png"); }
.icon.attendCheck { background-image: url("../img/common/icon_attendCheck.png"); }
.icon.eventBox { background-image: url("../img/common/icon_eventBox.png"); }
.icon.coneyWorld { background-image: url("../img/common/icon_friendShop.png"); }
.icon.homeLearnTalk { background-image: url("../img/common/icon_homeLearnTalk.png"); }
.icon.homeLearnMagazine { background-image: url("../img/common/icon_homeLearnMagazine.png"); }
.icon.askMyQuestion { background-image: url("../img/common/icon_askMyQuestion.png"); }
.icon.myAppDrawer { background-image: url("../img/common/icon_myAppDrawer.png"); }
.icon.homeLearnMarket { background-image: url("../img/common/icon_homeLearnMarket.png"); }
.icon.homeLearnLibrary { background-image: url("../img/common/icon_HomeLernLibrary.png"); }
.icon.homeLearnCalc { background-image: url("../img/common/icon_homeLearnCalc.png"); }
.icon.homeLearnPanix { background-image: url("../img/common/icon_homeLearnPanix.png"); }
.icon.threeDExperience { background-image: url("../img/common/icon_3dExperience.png"); }
.icon.homeLearnBookCafe { background-image: url("../img/common/icon_homeLearnBookCafe.png"); }
.icon.textBookDic { background-image: url("../img/common/icon_textBookDic.png") };
.icon.studyEncy { background-image: url("../img/common/icon_studyEncy.png") };
.icon.pointDic { background-image: url("../img/common/icon_pointDic.png") };

.alert { border: 0; margin: 0; background-color: #ff4040; color: white; font-family: BMJUA; font-size: 14px; padding: 3px 8px; border-radius: 20px; }
.icon .alert { position: absolute; left: -6px; bottom: 1px; }

.buttonList .icon { width: 45px; height: 40px; background-size: 60px 60px; }
.buttonList > li > div { line-height: 1em; flex: 0 1 33%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center; }

.horizonIcons { display: flex; font-family: BMJUA; font-size: 17px; line-height: 1em;  }
.horizonIcons div { display: flex; align-items: center; justify-content: center;}
.horizonIcons div:first-child { margin-right: 4px;  }
.horizonIcons div:nth-child(2) { padding-right: 28px; margin-right: 10px; }
.horizonIcons div:nth-child(3) { margin-right: 3px; }
.horizonIcons div:nth-child(4) {  }
.horizonIcons .icon { height: 40px; }
.verticaBorder { border-right: 2px solid #e5e5e5; }

.bannerSection { padding: 13px 9px; }
.bannerSection > div { display: flex; overflow-x: auto; overflow-y: hidden; scroll-snap-type: x mandatory; -ms-overflow-style: none; overflow: -moz-scrollbars-none; }
.bannerSection > div::-webkit-scrollbar { display: none; }
.bannerSection > div img { scroll-snap-align: start; width: 244px; height: 93px; flex-basis: auto; flex-shrink: 0; }
/* .bannerSection > ul > li ul {  }
.bannerSection > ul > li ul li:first-child { color: #e47426; font-size: 13px; font-weight: 700; letter-spacing: -0.8px; ; }
.bannerSection > ul > li ul li:nth-child(2) { margin-top: 8px; font-size: 19px; line-height: 24px; letter-spacing: -0.8px; } */

.bannerIndicator { display: flex; }
.bannerIndicator li { transition: width 0.3s, background-color 0.5s; margin-left: 7px; flex: 0 0 auto; background-color: #e5e5e5; width: 10px; height: 10px; border-radius: 10px;  }
.bannerIndicator li:first-child { margin-left: 0; }
.bannerIndicator li.on { background-color: #b2b2b2; width: 25px;   }

.bannerSection .bannerIndicator { position: absolute; top: 13px; right: 13px; }

nav.bottomNav { align-items: center; padding: 7px 0; margin-top: 15px; height: 58px; border-radius: 20px; border: 1px solid #dfd9cf; display: flex;  font-size: 22px; font-family: BMJUA; }
nav.bottomNav.big { height: 123px; padding: 24px 19px; margin-top: 20px; }
nav.bottomNav .icon { width: 47px; height: 47px; background-size: 47px 47px; }
nav.bottomNav .icon + div { margin-left: 7px; }
nav.bottomNav.big .icon { width: 80px; height: 80px; background-size: 80px 80px; }
nav.bottomNav > div { justify-content: center; flex: 1; display: flex; border-left: 1px solid #dfd9cf; align-items: center; }
nav.bottomNav.big > div { border-left: none; height: 80px; }
nav.bottomNav > div:first-child { border-left: 0; }
nav.bottomNav .homeLearnLibrary { background-size: 70px; margin-right: 10px;  }
nav.bottomNav .homeLearnCalc { margin-right: 11px;  }
nav.bottomNav .homeLearnPanix { margin-right: 9px; background-size: 59px;  }
nav.bottomNav .icon.threeDExperience { margin-right: 9px; background-size: 59px;  }

.verticalLine { width: 2px; background-color: #ddd7ce; flex: 0 0 auto !important; }
nav.bottomNav.big .verticalLine { flex: 0 0 auto !important; height: 58px; }


.scrollMandatory { scroll-snap-type: x mandatory; }


#overlay { position: absolute; top: -50px; left:0; width: 100vw; height: 100vh; background: url("../img/common/580.png") no-repeat; background-size: 1280px; opacity: 0.5; display: none; pointer-events: none;}

#myClassroom_noStudy .blueBox { width: 925px; height: 494px; }
#myClassroom_noStudy aside .bannerSection { margin-top: 20px; }
#myClassroom_noStudy .wrap { padding-top: 25px; }

aside.type2 { margin-left: 30px;  }
aside.type2 .profileSection { padding: 22px 18px; margin-top: 0; height: 494px; }
aside.type2 .profileIcon { position: relative; top: 0; left: 0; width: 110px; height: 110px;  }
aside.type2 .profileIcon figure { position: static; }
aside.type2 section:first-child .personalInfoList { margin-left: 20px }
aside.type2 .personalInfoList > li:first-child { font-size: 24px; }
aside.type2 .personalInfoList > li:nth-child(2) { font-size: 18px; margin-top: 10px; }

.grayBox { padding: 8px; text-align: center; background-color: #eeeeee; border-radius: 17px; font-size: 18px; font-weight: 700; letter-spacing: -1.2px; }
.profileSection .grayBox { margin-top: 21px; }

.iconList {  }
.iconList li { height: 64px; }
.iconList .icon { background-size: 60px; width: auto; background-position: -4px center; display: flex; align-items: center; justify-content: flex-start; padding-left: 64px; }
.profileSection .iconList { border-top: 1px solid #d7d7d7; margin-top: 15px;  }

