@charset "utf-8";

/* S 홈 화면 - wrap */
.wrap_flex {
  display: flex;
  flex-direction: column;
  height: 702px;
  width: 1280px;
  overflow: hidden;

  &.lightBlueBg {
    background-color: #e2eeee;
  }
}

/* E 홈 화면 - wrap */

/* S 홈 화면 - 헤더 */
header {
  .wrap_header {
    width: 1280px;
    position: relative;
    display: flex;
    padding: 8px 35px 9px 65px;
    align-items: center;
    height: 62px;
    justify-content: space-between;
  }

  &.semester_select {
    color: white;
    background-color: #0dafbd;

    .flex {
      align-items: center;
    }

    strong {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -0.5px;
      white-space: nowrap;
      margin-left: 10.5px;
    }

    .ic_sub_noti {
      margin-left: 24px;
    }

    .icon_new {
      margin-left: 8px;
    }
  }

  & + .wrap_home {
    margin-top: 29px;
  }
}
/* E 홈 화면 - 헤더 */

.wrap_home {
  flex-grow: 1;
  align-content: flex-start;
  overflow: hidden;
  display: flex;
  position: relative;
  padding: 25px 25px 35px 35px;

  .banner_event {
    height: 120px;
    width: 286px;
    border: 1px solid #6e6be5;
    background-color: #6e6be5;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      width: 259px;
      height: 65px;
      margin: 0 5px;
    }
  }

  .bannerIndicator {
    li {
      background-color: #6360ce !important;

      &.on {
        background-color: #4d4ba0 !important;
      }
    }
  }

  .studyList {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 8px 13px;
    width: 286px;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #d7d7d7;
    box-shadow: 1.7px 1.7px 8px rgba(0, 0, 0, 0.15);

    &.half {
      height: 267px;
    }

    .title {
      flex: 0 0 auto;
      display: block;
      padding: 10px;
      height: 80px;
      background-color: #e5e5e5;
      font-family: var(--font1);
      border-radius: 15px;
      font-size: 15px;
      letter-spacing: -0.75px;
      text-align: center;
      font-weight: 700;

      &.small {
        max-height: 50px;

        .boxTitle {
          margin-bottom: 0;
        }
      }
    }

    li {
      position: relative;
      max-height: 113px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      border-bottom: 1px solid #dfdfdf;
      font-family: var(--font2);
      font-size: 25px;

      .tit {
        margin-top: -15px;
      }

      .desc {
        position: absolute;
        bottom: 24px;
        left: 60px;
        font-size: 15px;
        font-family: var(--font1);
        font-weight: bold;
      }

      a {
        display: flex;
        align-items: center;
      }

      &.noBorder {
        border: 0;
      }
    }

    i {
      margin-right: 15px;
      border-radius: 50%;
      width: 45px;
      height: 45px;

      &.green {
        background-color: #b0e1bc;
      }

      &.orange {
        background-color: #f5d6c5;
      }

      &.blue {
        background-color: #b8d9f9;
      }
    }

    &.centered {
      li {
        justify-content: center;

        a {
          margin-left: -40px;

          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.boxTitle {
  font-size: 21px;
  letter-spacing: -0.52px;
  font-weight: 800;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
  padding: 0;
  background-position: center;
}

.subject_panel {
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1.7px 1.7px 8px rgba(0, 0, 0, .3);
  width: 296px;
  font-size: 15px;
  letter-spacing: -0.38px;
  color: white;
  text-align: center;
  padding: 0 13px 13px;
  background-color: #0aaebc;
  border: 2px solid #0396a3;
  border-radius: 25px;

  .boxTitle {
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    background-position: center !important;
    padding: 0;
  }

  p {
    margin: 32px 0 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 19px;
    letter-spacing: -0.4px;
    font-weight: bold;
  }

  .menu-list {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 25px;

    li {
      position: relative;
      height: 90px;
      border-bottom: 1px solid #dfdfdf;

      a {
        display: block;

        div {
          .i-img {
            position: absolute;
            width: 45px;
            height: 45px;
            top: 50%;
            transform: translateY(-50%);
            left: 36px;

            &.lg {
              width: 69px;
              height: 69px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .t-area {
            float: left;
            color: #000000;
            text-align: left;
            padding-top: 29px;
            padding-left: 95px;

            .desc {
              display: block;
              font-size: 15px;
              line-height: 18px;
              font-weight: bold;
            }

            .tit {
              display: block;
              font-size: 26px;
              line-height: 28px;
              font-family: var(--font2);
            }
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &.lg {
        height: 127px;

        .i-img {
          left: 22px;
        }

        .t-area {
          padding-top: 33px;
          padding-left: 105px;
        }
      }
    }
  }
}

.subject_panelList {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  box-shadow: 1.7px 1.7px 3px rgba(0, 0, 0, .3);
  font-family: var(--font2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid white;
  border-radius: 15px;
  width: 265px;

  .subjectIcon {
    background-size: 95px;
    margin-top: 56px;
    width: 120px;
    height: 120px;
  }

  em {
    font-style: normal;
    color: black;
    margin-top: 30px;
    line-height: 46px;
    font-size: 56px;
    letter-spacing: -1.4px;
  }

  button {
    width: 210px;
    border-radius: 35px;
    border: 0;
    margin-top: 69px;
    font-size: 24px;
    height: 70px;
    line-height: 60px;
  }

  &.korean {
    background-color: #fff0aa;
  }

  &.math {
    background-color: #fddbdb;
  }

  &.english {
    background-color: #c6cdf4;
  }

  &.society {
    background-color: #cdeeaa;
  }

  &.science {
    background-color: #a4dff1;
  }

  &.total {
    background-color: #f7ccee;
  }
}

/* S banner Event */
.banner_event {
  position: relative;
  padding: 12px 9px 13px;
  margin-top: 9px;
  height: 128px;

  & > div {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      scroll-snap-align: start;
      width: 244px;
      height: 100px;
      flex-basis: auto;
      flex-shrink: 0;
    }
  }

  .bannerIndicator {
    display: flex;
    position: absolute;
    top: 13px;
    right: 13px;

    li {
      transition: width 0.3s, background-color 0.5s;
      margin-left: 7px;
      flex: 0 0 auto;
      background-color: #e5e5e5;
      width: 10px;
      height: 10px;
      border-radius: 10px;

      &:first-child {
        margin-left: 0;
      }

      &.on {
        background-color: #b2b2b2;
        width: 25px;
      }
    }
  }
}
/* E banner Event */
