/*
  수학 완성
*/

.math-bg {
  background-color: #4b91e0 !important;
}
.math-label-bg {
  background-color: #3c74b3 !important;
}
.math-border-color {
  border-color: #2373cd !important;
}

/* S 학습 안내 */
.modal-info {
  .modal-body {
    .box-grey {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: #ebebed;
      padding: 38px 37px;

      .title-area {
        margin-bottom: 30px;

        .tit {
          font-size: 32px;
          font-family: var(--bmjua);
          color: #478be5;
          margin-bottom: 15px;
          line-height: 30px;
        }

        .desc {
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
        }
      }

      .box-card {
        li {
          float: left;
          background-color: #ffffff;
          border-radius: 20px;
          width: 240px;
          height: 340px;
          padding-top: 30px;
          margin-right: 29px;

          .img {
            width: 216px;
            height: auto;
            margin: 0 auto;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  &.v_eng {
    .modal-body {
      .box-grey {
        .title-area {
          .tit {
            display: inline-block;
            color: #8c80cd;
            vertical-align: middle;
            line-height: 34px;
            margin-bottom: 0;
            margin-right: 10px;
          }
          .desc {
            display: inline-block;
            vertical-align: middle;
            line-height: 34px;
          }
        }
        .box-card {
          li {
            &:first-child {
              width: 573px;
              height: 190px;
              margin-bottom: 15px;
              margin-right: 15px;
              .img {
               width: 516px;
              }
            }
            &:nth-child(2) {
              width: 458px;
              height: 190px;
              margin-right: 0;
              margin-bottom: 15px;
              .img {
                width: 405px;
              }
            }
            &:nth-child(3) {
              width: 100%;
              height: 190px;
              margin-bottom: 0;
              .img {
                width: 990px;
              }
            }
          }
        }
      }
    }
  }
}

/* E 학습 안내 */

/* S 마스 연산 */
.wrap-mas {
  position: relative;
  display: block;
  width: 1280px;
  height: 752px;
  background-image: url("../img/element/math/mas/bg-mas.png");
  background-repeat: no-repeat;
  background-size: cover;

  .area_top {
    & > .title {
      position: absolute;
      top: 17px;
      left: 21px;
    }

    .closeBtn {
      position: absolute;
      top: 20px;
      right: 13px;
    }
  }

  .content-mas {
    position: relative;

    .tab-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 27px;
      text-align: center;

      li {
        float: left;
        display: flex;
        justify-content: center;

        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 64px;
          font-family: var(--daum);
          font-size: 24px;
          color: #585858;
        }

        &.left {
          background-image: url("../img/element/math/mas/top_tab_left.png");
          background-size: contain;
          width: 210px;
          height: 66px;
        }

        &.center {
          background-image: url("../img/element/math/mas/top_tab_center.png");
          background-size: contain;
          width: 220px;
          height: 66px;
        }

        &.right {
          background-image: url("../img/element/math/mas/top_tab_right.png");
          background-size: contain;
          width: 211px;
          height: 66px;
        }

        &.active {
          a {
            color: #ffffff;
          }

          &.left {
            background-image: url("../img/element/math/mas/top_tab_left_f.png");
          }

          &.center {
            background-image: url("../img/element/math/mas/top_tab_center_f.png")
          }

          &.right {
            background-image: url("../img/element/math/mas/top_tab_right_f.png");
          }
        }
      }
    }

    .tab-content {
      display: none;

      .tab-step {
        float: left;
        padding-left: 43px;
        padding-top: 47px;

        li {
          position: relative;
          width: 142px;
          height: 63.3px;
          border-bottom: 1px solid #e9a412;
          padding-right: 7px;

          a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 63.3px;
            font-size: 26px;
            font-weight: 900;
          }

          &.active {
            background-image: url("../img/element/math/mas/tab_f.png");
            background-size: contain;
            color: #ffffff;

            &::after {
              content: '';
              position: absolute;
              background-image: url("../img/element/math/mas/arrow_right.png");
              width: 13px;
              height: 19px;
              background-size: contain;
              right: 18px;
              top: 24px;
            }
          }
        }
      }

      .tab-menu {
        display: none;
        padding-left: 186px;

        .menu-content {
          float: left;
          padding-top: 47px;

          .scroll {
            height: 576px;
            .mCSB_inside > .mCSB_container {
              margin-right: 0;
            }
          }

          li {
            position: relative;
            width: 446px;
            height: 63.3px;
            border-bottom: 1px solid #e9a412;
            padding-left: 22px;

            a {
              display: block;
              width: 100%;
              height: 100%;
              line-height: 64px;
              font-family: var(--nanumBarun);
              font-size: 25px;
              font-weight: bold;
            }

            &.active {
              background-color: #389646;

              a {
                color: #ffffff;
              }

              &::after {
                content: '';
                position: absolute;
                background-image: url("../img/element/math/mas/arrow_right.png");
                width: 13px;
                height: 19px;
                background-size: contain;
                right: 34px;
                top: 22px;
              }
            }
          }
        }

        .tab-panel {
          display: none;
          position: relative;
          float: left;

          .scroll {
            height: 573px;
            margin-top: 49px;

            .mCSB_scrollTools {
              background-color: #ffffff;
            }

            .mCustomScrollBox {
              .mCSB_container {
                margin-right: 0;
              }
            }
          }

          .btn-tip {
            display: block;
            position: absolute;
            background-image: url("../img/element/math/mas/btn_tip.png");
            width: 149px;
            height: 45px;
            background-size: contain;
            top: -22px;
            right: -23px;
          }

          .label {
            position: absolute;
            width: 123px;
            height: 30px;
            background-color: #f6e9cb;
            text-align: center;
            line-height: 30px;
            left: 31px;
            top: 15px;
            color: #717171;
            font-weight: bold;

            > span {
              font-weight: 900;
              color: #000000;
            }
          }

          ul {
            padding-top: 7px;

            li {
              position: relative;
              width: 590px;
              height: 88px;
              border-bottom: 1px solid #e9a412;
              padding-left: 34px;
              padding-top: 10px;

              .num {
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 25px;
                background-color: #ff4e00;
                color: #ffffff;
                text-align: center;
                font-weight: 900;
                border-radius: 50%;
                margin-right: 10px;
                vertical-align: middle;
              }

              .tit {
                display: inline-block;
                width: 440px;
                font-size: 21px;
                line-height: 25px;
                font-weight: 900;
                color: #4b4b4b;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: middle;
              }

              .rbadge {
                position: absolute;
                min-width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                background-color: #dcd9d6;
                bottom: 11px;
                left: 68px;
                padding: 0 10px;
                border-radius: 8px;

                em {
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 900;
                }
              }

              .vbadge {
                position: absolute;
                display: block;
                background-image: url("../img/element/math/mas/badge_view.png");
                width: 146px;
                height: 38px;
                background-size: contain;
                right: 29px;
                bottom: 9px;
              }
            }
          }

          &.active {
            display: block;
          }
        }

        &.tab-menu-2 {
          .menu-content {
            li {
              width: 313px;
            }
          }

          .tab-panel {
            background-color: #ffffff;
            border-left: 3px solid #cfc6b0;

            ul {
              li {
                width: 731px;

                .tit {
                  width: 580px;
                }
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

/* E 마스 연산 */

/* S 계산 속도 향상 TIP */
.modal-mas {
  .modal-content {
    position: relative;
    background-color: transparent;
    background-image: url("../img/element/math/mas/bg_tip.png");
    width: 1125px;
    height: 688px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;

    .tab-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 27px;
      text-align: center;

      li {
        float: left;
        display: flex;
        justify-content: center;
        background-image: url("../img/element/math/mas/tab_tip.png");
        background-size: contain;
        width: 248px;
        height: 75px;
        margin-top: -40px;
        margin-right: 5px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-size: 22px;
          font-weight: bold;
          color: #585858;
          padding-bottom: 5px;
        }

        &.active {
          background-image: url("../img/element/math/mas/tab_tip_f.png");
          height: 73px;
          margin-top: -25px;

          a {
            color: #ffffff;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .btn-close {
        position: absolute;
        right: 17px;
        top: 15px;
        display: block;
        background-image: url("../img/element/math/mas/close_black.png");
        width: 34px;
        height: 34px;
        background-size: contain;
      }
    }

    .tab-content {
      display: none;
      padding: 30px 30px 30px 40px;

      .tit {
        display: block;
        line-height: 32px;
        font-size: 30px;
        font-weight: 900;
        color: #ff7200;
        margin-bottom: 30px;
      }

      .tit-sm {
        position: relative;
        display: block;
        line-height: 24px;
        font-size: 22px;
        font-weight: 900;
        color: #42a500;
        padding: 0 23px;
        margin-bottom: 8px;

        &::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 4px;
          background-color: #42a500;
          left: 9px;
          top: 7px;
        }
      }

      .desc {
        display: block;
        line-height: 25px;
        font-size: 19px;
        letter-spacing: -.5px;
        font-weight: bold;
        color: #6c6b6b;
        padding: 0 40px;
        margin-bottom: 8px;

        > span {
          font-weight: 900;
          color: #353535;
        }
      }

      .btn-prev {
        position: absolute;
        background-image: url("../img/element/math/mas/btn_pre.png");
        width: 157px;
        height: 70px;
        background-size: contain;
        left: 25px;
        bottom: -9px;
      }

      .btn-next {
        position: absolute;
        background-image: url("../img/element/math/mas/btn_next.png");
        width: 157px;
        height: 70px;
        background-size: contain;
        right: 25px;
        bottom: -9px;
      }

      &.active {
        display: block;
      }
    }
  }
}

/* E 계산 속도 향상 TIP */

/* S 영역별 수학 */
.wrap_math_category {
  .bg_top {
    position: relative;
    display: block;
    background-image: url("../img/element/math/category/bg_top.png");
    background-size: contain;
    width: 100%;
    height: 70px;
    border-bottom: 4px solid #c42616;

    .tit {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      font-family: var(--godo);
      color: #ffffff;
      line-height: 66px;
    }

    .btn-close {
      position: absolute;
      right: 15px;
      top: 16px;
      display: block;
      background-image: url("../img/element/math/category/btn_close.png");
      background-size: contain;
      width: 35px;
      height: 35px;
    }
  }

  .category_menu {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100vh;
    border-right: 1px solid #d1d1d1;

    li {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 200px;
      height: 70px;
      padding-left: 15px;
      letter-spacing: -2.3px;

      a {
        display: flex;
        width: 100%;
        height: 100%;
        line-height: 60px;
        font-family: var(--godo);
        font-size: 25px;
        color: #5f5f5f;
        align-items: center;

        i {
          margin-right: 10px;
        }
      }

      &.active {
        background-color: #e23c2c;

        a {
          color: #ffffff;
        }
      }
    }
  }

  .category_content {
    display: none;

    .cStep {
      display: none;
      float: left;
      width: 457px;
      height: 100vh;
      background-color: #f3f3f3;

      .scroll {
        height: 686px;
        .mCSB_inside > .mCSB_container {
          margin-right: 0;
        }
      }

      li {
        display: flex;
        align-items: center;
        width: 450px;
        height: 100px;
        border-bottom: 2px solid #cacaca;
        padding-left: 33px;
        background-color: #ffffff;

        a {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;

          .step {
            display: inline-block;
            font-size: 30px;
            color: #378c02;
            margin-right: 8px;
            font-weight: 900;
          }

          .tit {
            display: inline-block;
            font-size: 24px;
            color: #3a3c40;
            font-weight: 700;
          }
        }

        &.active {
          position: relative;
          width: 457px;

          a {
            position: relative;
            z-index: 1;

            .step {
              color: #ffffff;
            }

            .tit {
              color: #ffffff;
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -6px;
            background-image: url("../img/element/math/category/tab_step_f.png");
            background-size: cover;
            background-color: #f3f3f3;
            width: 463px;
            height: 100px;
            z-index: 0;
          }
        }
      }

      &.active {
        display: block;
      }
    }

    .cContent {
      display: none;
      width: calc(100% - 657px);
      height: 100vh;
      float: left;
      background-color: #f3f3f3;
      padding: 15px 10px 0 15px;

      .scroll {
        height: 651px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 122px;
        margin-bottom: 5px;

        .num {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 95px;
          height: 100%;
          background-color: #e0e0e0;
          text-align: center;
          font-size: 23px;
          color: #353839;
          font-weight: 900;
          border-radius: 6px 0 0 6px;
        }

        .con {
          position: relative;
          display: flex;
          justify-content: left;
          align-items: center;
          width: calc(100% - 95px);
          height: 100%;
          background-color: #ffffff;
          font-size: 24px;
          color: #3a3c40;
          font-weight: 900;
          padding-left: 20px;
          border-radius: 0 6px 6px 0;

          .btn-download {
            position: absolute;
            display: block;
            width: 60px;
            height: 81px;
            background-image: url("../img/element/math/category/btn_download.png");
            background-size: contain;
            right: 30px;
            top: 23px;
          }
        }
      }

      &.active {
        display: block;
      }
    }

    &.active {
      display: block;
    }
  }
}

/* E 영역별 수학 */

/* S 수학 경시  */
.wrap_math_test {
  .bg_top {
    position: relative;
    display: block;
    background-image: url("../img/element/math/category/bg_top.png");
    background-size: contain;
    width: 100%;
    height: 96px;
    border-bottom: 4px solid #27a0e6;

    .tit {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      font-family: var(--godo);
      color: #ffffff;
      line-height: 88px;
    }

    .customSelect {
      position: absolute;
      right: 108px;
      top: 10px;
      min-width: auto;
      width: 165px;
      height: 48px;
      font-family: var(--godo);
      font-weight: 700;
      font-size: 21px;
      padding: 0 38px 0 11px;
      border-radius: 10px;
      line-height: 48px;
      border: 0;
      background-image: none;
      background-color: #ffffff;

      ul {
        padding: 0;
        text-align: center;
        border-radius: 10px;
        color: #888888;
        border: 2px solid #09143a;

        li {
          &:first-child {
            border-radius: 10px 10px 0 0;
          }

          &:nth-child(2n-1) {
            background-color: #f4f4f4;
          }
          &.active {
            color: #ff5442;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 39px;
        height: 100%;
        border-radius: 0 8px 8px 0;
        background-color: #2b4375;
        background-image: url("../img/element/math/category/arrow_down.png");
        background-repeat: no-repeat;
        background-size: 20px 13px;
        background-position: 10px;
      }

      &.down {
        &::before {
          background-image: url("../img/element/math/category/arrow_up.png");
        }
      }
    }

    .btn-close {
      position: absolute;
      right: 15px;
      top: 16px;
      display: block;
      background-image: url("../img/element/math/category/btn_close.png");
      background-size: contain;
      width: 35px;
      height: 35px;
    }
  }

  .math_test_content {
    position: relative;
    background-image: url("../img/element/math/category/bg_math_test.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 752px;

    .aside_bg {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background-image: url("../img/element/math/category/bg_math_test_right.png");
      background-size: cover;
      width: 122.5px;
      height: 660px;
    }

    .mContent {
      width: 100%;
      padding: 11px 10px 0 130px;

      .scroll {
        height: 610px;
      }

      > .desc {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-family: var(--godo);
        font-size: 17px;
        padding-right: 5px;
        letter-spacing: -1px;
        margin-bottom: 7px;

        i {
          margin: 0 5px;
        }
      }
      ul {
        padding-bottom: 150px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 122px;
        margin-bottom: 5px;

        .num {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 95px;
          height: 100%;
          background-color: #e0e0e0;
          text-align: center;
          font-size: 23px;
          color: #353839;
          font-weight: 900;
          border-radius: 6px 0 0 6px;

          .cbadge {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 40px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-family: var(--godo);
            font-weight: 700;
            font-size: 14px;
            color: #ffffff;
            border-radius: 6px 0 8px 0;

            &.first {
              background-color: #ffb90b;
            }

            &.second {
              background-color: #fc6e51;
            }

            &.third {
              background-color: #da4453;
            }
          }
        }

        .con {
          position: relative;
          width: calc(100% - 95px);
          height: 100%;
          background-color: #ffffff;
          padding: 37px 20px 20px;

          .desc {
            display: block;
            font-weight: 900;
            font-size: 14.4px;
            color: #ff5c30;
            line-height: 16px;
            margin-bottom: 8px;
          }

          .tit {
            display: block;
            font-size: 24px;
            color: #3a3c40;
            font-weight: bold;
            border-radius: 0 6px 6px 0;
          }
        }
      }
    }
  }

  .btn-bingbing {
    position: absolute;
    display: block;
    bottom: 0;
    right: 200px;
  }
}

/* E 수학 경시 */


/*  아이콘  */
.i-size {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

i.math-01 {
  background-image: url("../img/element/math/icon/icon_sm_01.png");
}

i.math-02 {
  background-image: url("../img/element/math/icon/icon_sm_02.png");
}

i.math-03 {
  background-image: url("../img/element/math/icon/icon_sm_03.png");
}

i.math-04 {
  background-image: url("../img/element/math/icon/icon_sm_04.png");
  background-size: 70%;
}

i.math-05 {
  background-image: url("../img/element/math/icon/icon_sm_05.png");
}

i.math-06 {
  background-image: url("../img/element/math/icon/icon_sm_06.png");
}

i.math-07 {
  background-image: url("../img/element/math/icon/icon_sm_07.png");
}

i.math-08 {
  background-image: url("../img/element/math/icon/icon_sm_08.png");
}

i.math-09 {
  background-image: url("../img/element/math/icon/icon_sm_09.png");
}

i.math-10 {
  background-image: url("../img/element/math/icon/icon_sm_10.png");
}

i.math-11 {
  background-image: url("../img/element/math/icon/icon_sm_11.png");
}

i.math-12 {
  background-image: url("../img/element/math/icon/icon_sm_12.png");
}

i.badge-update {
  background-image: url("../img/element/math/category/badge-update.png");
  background-size: contain;
  width: 171px;
  height: 30px;
}

i.badge-check {
  background-image: url("../img/element/math/category/i_check.png");
  background-size: contain;
  width: 80px;
  height: 30px;
}

i.i-star {
  display: inline-block;
  background-image: url("../img/element/math/category/i_star.png");
  background-size: contain;
  width: 28px;
  height: 27px;
}

.wrap_math_category {
  .category_menu {
    li {
      .i_menu_01 {
        background-image: url("../img/element/math/category/i_menu_01.png");
        width: 40px;
        height: 40px;
        background-size: contain;
      }

      .i_menu_02 {
        background-image: url("../img/element/math/category/i_menu_02.png");
        width: 40px;
        height: 40px;
        background-size: contain;
      }

      .i_menu_03 {
        background-image: url("../img/element/math/category/i_menu_03.png");
        width: 40px;
        height: 40px;
        background-size: contain;
      }

      .i_menu_04 {
        background-image: url("../img/element/math/category/i_menu_04.png");
        width: 40px;
        height: 40px;
        background-size: contain;
      }

      .i_menu_05 {
        background-image: url("../img/element/math/category/i_menu_05.png");
        width: 40px;
        height: 40px;
        background-size: contain;
      }

      &.active {
        .i_menu_01 {
          background-image: url("../img/element/math/category/i_menu_01_f.png");
        }

        .i_menu_02 {
          background-image: url("../img/element/math/category/i_menu_02_f.png");
        }

        .i_menu_03 {
          background-image: url("../img/element/math/category/i_menu_03_f.png");
        }

        .i_menu_04 {
          background-image: url("../img/element/math/category/i_menu_04_f.png");
        }

        .i_menu_05 {
          background-image: url("../img/element/math/category/i_menu_05_f.png");
        }
      }
    }
  }
}

.boxTitle {
  &.mathTitle01 {
    background: url("../img/element/math/boxTitles/tit_01.png") no-repeat center;
    height: 34px;
    background-size: contain;
  }

  &.mathTitle02 {
    background: url("../img/element/math/boxTitles/tit_02.png") no-repeat center;
    height: 29px;
    background-size: contain;
  }

  &.mathTitle03 {
    background: url("../img/element/math/boxTitles/tit_03.png") no-repeat center;
    height: 29px;
    background-size: contain;
  }

  &.mathTitle04 {
    background: url("../img/element/math/boxTitles/tit_04.png") no-repeat center;
    height: 30px;
    background-size: contain;
  }

  &.mathTitle05 {
    background: url("../img/element/math/boxTitles/tit_05.png") no-repeat center;
    height: 30px;
    background-size: contain;
  }
}
